.image {
  justify-content: center;
}

.image img {
  height: 44rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
}

.content p {
  font-style: italic;
  color: var(--color-grey);
}

.content-quote {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.content-quote img {
  margin: 0 1rem 1rem 0;
}

.sign {
  width: 80%;
  margin-top: 3rem;
}

.sign p:first-child {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4.1rem;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--color-golden);
}

.sign p:nth-child(2) {
  color: var(--color-grey);
}

.sign img {
  margin-top: 3rem;
}

@media (min-width: 650px) {
  .image {
    justify-content: center;
  }

  .image img {
    width: 50rem;
    height: 64rem;
  }

  .sign {
    width: 100%;
    margin-top: 3rem;
  }

  .sign img {
    margin-top: 6.4rem;
  }
}

@media (min-width: 1280px) {
  .image img {
    width: 44rem;
    height: 54rem;
  }

  .sign img {
    margin-top: 4rem;
  }
}

@media (min-width: 1920px) {
  .image img {
    width: 70rem;
    height: 80rem;
  }

  .content {
    margin-top: 6.4rem;
  }

  .content-quote img {
    width: 7rem;
    height: 7rem;
  }

  .sign img {
    margin-top: 6.4rem;
  }
}
