.section-padding {
  padding: 4rem 2rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-bg {
  background: url("../../public/assets/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;

  /* min-height: 100vh; */
}

.wrapper-info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.wrapper-img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 5rem 0 0 0;
}

.wrapper-img-reverse {
  justify-content: flex-start;
  margin: 0 0 5rem 0;
}

.wrapper-img img {
  width: 100%;
  height: 33.6rem;
}

.f-cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings:
    "tnum" on,
    "lnum" on;
  line-height: 2.9rem;
  font-size: 1.9rem;
}

.f-opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 2.8rem;
  font-size: 1.2rem;
}

.headtext-cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.spoon-img {
  width: 4.5rem;
}

@media (min-width: 540px) {
  .section-padding {
    padding: 4rem;
  }

  .f-cormorant {
    font-size: 2.1rem;
  }

  .f-opensans {
    font-size: 1.4rem;
  }

  .headtext-cormorant {
    font-size: 6.5rem;
    line-height: 8.32rem;
  }

  .wrapper-img img {
    width: 80%;
    height: 43.6rem;
  }
}

@media (min-width: 768px) {
  .wrapper-img img {
    height: 53.6rem;
  }
}

@media (min-width: 900px) {
  .wrapper-img img {
    width: 60%;
  }
}

@media (min-width: 1280px) {
  .section-padding {
    padding: 6.4rem 20rem;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* min-height: 100vh; */
  }

  .wrapper-img {
    width: 50%;
    margin: 0 0 0 2rem;
  }

  .wrapper-img img {
    width: 90%;
    height: 100%;
  }

  .wrapper-info {
    width: 50%;
  }

  .wrapper-img-reverse {
    margin: 0 2rem 0 0;
  }

  .f-cormorant {
    font-size: 2.3rem;
  }

  .f-opensans {
    font-size: 1.6rem;
  }

  .headtext-cormorant {
    font-size: 6rem;
    line-height: 6rem;
  }
}

@media (min-width: 1920px) {
  .f-cormorant {
    font-size: 3.7rem;
    line-height: 6.7rem;
  }

  .wrapper-img img {
    width: 66.7rem;
    height: 73.6rem;
  }

  .f-opensans {
    font-size: 3rem;
    line-height: 5rem;
  }

  .headtext-cormorant {
    font-size: 8rem;
    line-height: 8rem;
  }

  .spoon-img {
    width: 8rem;
  }
}
