.specialMenu {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  background: var(--color-black);
}

.title {
  text-align: center;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0;
}

.menu-wine,
.menu-cocktails {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.menu-wine > h4,
.menu-cocktails > h4 {
  font-size: 3.5rem;
  font-family: var(--font-base);
  font-weight: 600;
}

.menu-img > img {
  width: 33.2rem;
  height: 52rem;
}

.div-button {
  margin: 0 0 0 0;
}

@media (min-width: 768px) {
  .menu-wine > h4,
  .menu-cocktails > h4 {
    font-size: 4.5rem;
  }
}

@media (min-width: 1440px) {
  .menu {
    flex-direction: row;
    gap: 2.4rem;
  }

  .menu-wine > h4,
  .menu-cocktails > h4 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1920px) {
  .specialMenu {
    gap: 6.4rem;
  }

  .menu {
    gap: 3.2rem;
  }

  .menu-img > img {
    width: 43.2rem;
    height: 86rem;
  }

  .menu-wine,
  .menu-cocktails {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  }

  .menu-wine > h4,
  .menu-cocktails > h4 {
    font-size: 4.5rem;
  }

  .div-button {
    margin-top: 1.5rem;
  }
}
