.header {
  background: var(--color-black);
}

.info > h2 {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  line-height: 130%;
  font-weight: 700;
  font-size: 6rem;
}

.info > p {
  margin: 2rem 0;
  color: var(--color-grey);
}

@media (min-width: 1920px) {
  .info > button {
    margin-top: 2rem;
  }
}
