.header {
  background: var(--color-black);
}

.wrapper-info > h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  line-height: 130%;
  font-weight: 700;
  font-size: 9rem;
}

.wrapper-info > p {
  margin: 2rem 0;
  color: var(--color-grey);
}

.custom-button {
  background: var(--color-golden);
}

.custom-button:hover {
  transition: all 0.4s;
  opacity: 0.8;
}
